service: CHANGEME

plugins:
  - serverless-domain-manager
  - serverless-aws-documentation
  - serverless-offline

provider:
  name: aws
  runtime: nodejs14.x
  profile: serverless
  stage: dev
  region: us-east-1

  logs:
    restApi: true

  tracing:
    apiGateway: true
    lambda: true

  environment:
    DEBUG: ${self:custom.environment.debugLog}
    NODE_ENV: ${self:custom.environment.nodeEnvironment}

custom:
  stage: ${opt:stage, self:provider.stage}
  region: ${opt:region, self:provider.region}

  domainName: ${self:custom.domainNameStage.${self:custom.stage}}
  domainNameStage:
    dev: dev-api.${self:custom.baseDomainName}
    test: test-api.${self:custom.baseDomainName}
    prod: api.${self:custom.baseDomainName}
  baseDomainName: CHANGEME
  customDomain:
    domainName: ${self:custom.domainName}
    certificateName: ${self:custom.domainName}
    basePath: CHANGEME
    stage: ${self:custom.stage}
    createRoute53Record: true
  environment:
    debugLog: ${self:custom.environment.debugLogStage.${self:custom.stage}}
    debugLogStage:
      dev: ''
      test: ''
      prod: ''
    nodeEnvironment: ${self:custom.environment.nodeEnvironmentStage.${self:custom.stage}}
    nodeEnvironmentStage:
      dev: development
      test: test
      prod: production

  documentation:
    info:
      title: CHANGEME
      description: CHANGEME
      version: 1.0.0
    models:
      - name: DataInput
        description: Data input for the application
        contentType: application/json
        schema:
          type: object

      - name: DataOutput
        description: Response message
        contentType: application/json
        schema:
          type: object

      - name: ErrorResponse
        description: Error response from the application
        contentType: application/json
        schema:
          type: object
          properties:
            error:
              type: string
              description: Error message

package:
  individually: false

  exclude:
    - .circleci/**
    - .idea/**
    - .env*
    - examples/**
    - scripts/**
    - spec/**
    - tmp/**
    - '**/node_modules/aws-sdk/**'

functions:
  CHANGEME:
    handler: dist/events/CHANGEME.handler
    events:
      - http:
          path: /
          method: get
          cors: true
          documentation:
            summary: CHANGEME
            description: CHANGEME
            methodResponses:
              - statusCode: '200'
                responseBody:
                  description: Successful operation
                responseModels:
                  'application/json': DataOutput
              - statusCode: '400'
                responseBody:
                  description: Invalid input provided
                responseModels:
                  'application/json': ErrorResponse
              - statusCode: '500'
                responseBody:
                  description: Unhandled error
                responseModels:
                  'application/json': ErrorResponse

      - http:
          path: /
          method: post
          cors: true
          documentation:
            summary: CHANGEME
            description: CHANGEME
            requestModels:
              'application/json': DataInput
            methodResponses:
              - statusCode: '200'
                responseBody:
                  description: Successful operation
                responseModels:
                  'application/json': DataOutput
              - statusCode: '400'
                responseBody:
                  description: Invalid input provided
                responseModels:
                  'application/json': ErrorResponse
              - statusCode: '500'
                responseBody:
                  description: Unhandled error
                responseModels:
                  'application/json': ErrorResponse
