service: CHANGEME

plugins:
  - serverless-domain-manager
  - serverless-aws-documentation
  - serverless-offline

provider:
  name: aws
  runtime: nodejs10.x
  profile: serverless
  stage: test
  region: us-east-1

custom:
  stage: ${opt:stage, self:provider.stage}
  domainName: ${self:custom.domainNameStage.${self:custom.stage}}
  domainNameStage:
    test: test-api.${self:custom.baseDomainName}
    prod: api.${self:custom.baseDomainName}
  baseDomainName: CHANGEME
  customDomain:
    domainName: ${self:custom.domainName}
    certificateName: ${self:custom.domainName}
    basePath: CHANGEME
    stage: ${self:custom.stage}
    createRoute53Record: true
  documentation:
    info:
      title: CHANGEME
      description: CHANGEME
      version: 1.0.0
    models:
    - name: DataInput
      description: Data input for the application
      contentType: application/json
      schema:
        type: object

    - name: DataOutput
      description: Response message
      contentType: application/json
      schema:
        type: object

    - name: ErrorResponse
      description: Error response from the application
      contentType: application/json
      schema:
        type: object
        properties:
          error:
            type: string
            description: Error message

functions:
  CHANGEME:
    handler: dist/events/CHANGEME.handler
    events:
    - http:
        path: /
        method: get
        cors: true
        documentation:
          summary: CHANGEME
          description: CHANGEME
          methodResponses:
          - statusCode: '200'
            responseBody:
              description: Successful operation
            responseModels:
              "application/json": DataOutput
          - statusCode: '400'
            responseBody:
              description: Invalid input provided
            responseModels:
              "application/json": ErrorResponse
          - statusCode: '500'
            responseBody:
              description: Unhandled error
            responseModels:
              "application/json": ErrorResponse

    - http:
        path: /
        method: post
        cors: true
        documentation:
          summary: CHANGEME
          description: CHANGEME
          requestModels:
            "application/json": DataInput
          methodResponses:
          - statusCode: '200'
            responseBody:
              description: Successful operation
            responseModels:
              "application/json": DataOutput
          - statusCode: '400'
            responseBody:
              description: Invalid input provided
            responseModels:
              "application/json": ErrorResponse
          - statusCode: '500'
            responseBody:
              description: Unhandled error
            responseModels:
              "application/json": ErrorResponse
